@import 'reset';

$fontSize: 37.5px;

@function rem($px) {
    @return ($px/$fontSize) + rem;
}

@mixin flex($dir:column ,$a:'space-betwen') {
    display: flex;
    flex-direction: $dir;
    justify-content: $a
}